@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid bg-index">
    <div class="bg-tans">
        <partial name="_NavbarPartial">
            <div class="container">
                <div class="home-intro">
                    <h2 class="text-light">
                        ADMINISTRATION, MANAGE YOUR DATA.
                    </h2>
                </div>
            </div>
    </div>
</div>

<div class="container">
    @*<a class="text-danger col-4 text-right" asp-controller="Account" asp-action="Logout">Logout</a>*@

    <div class="admin-count">
        <div class="admin-count-text">
            <p>Admins</p>
            <h3>@Model._users.Count()</h3>
        </div>
        <div class="admin-count-text">
            <p><a>Books</a></p>
            <h3>@Model._books.Count()</h3>
        </div>
        <div class="admin-count-text">
            <p>Feedbacks</p>
            <h3>@Model._feedbacks.Count()</h3>
        </div>
        <div class="admin-count-text">
            <p>Languages</p>
            <h3>@Model._programmingLanguages.Count()</h3>
        </div>
    </div>

    <table class="table table-sm table-dark table-striped rounded mt-2 text-light">
        <caption>Feedbacks</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model._feedbacks)
            {
                <tr>
                    <td>@f.FeedbackName</td>
                    <td>
                        <a href="#" class="text-success font-weight-bold-2">View</a>&nbsp;<a href="#" class="text-danger font-weight-bold-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div paging-info="@Model._feedbackspagingInfoModel"></div>

    <table class="table table-sm table-dark table-striped rounded mt-2 text-light">
        <caption>Books</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model._books)
            {
                <tr>
                    <td>@f.BookTitle</td>
                    <td>
                        <a href="#" class="text-success font-weight-bold-2">View</a>&nbsp;
                        <a href="#" class="text-danger font-weight-bold-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div paging-info="@Model._bookspagingInfoModel"></div>

    <div class="btn-group mt-2 btn-w100">
        <a class="btn btn-success" asp-controller="Book" asp-action="Add">Add Book</a>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index">Languages</a>
        <a class="btn btn-success" asp-controller="Book" asp-action="Index">Books</a>
        <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>

    <partial name="_FooterPartial" />
</div>
