@model IEnumerable<ProgrammingLanguage>

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid bg-index">
    <div class="bg-tans">
        <partial name="_NavbarPartial">
            <div class="container">
                <div class="home-intro">
                    <h2 class="text-light">
                        THIS IS YOUR TO GO TO WEBSITE IF YOU WANT TO KNOW MORE ABOUT COMPUTER PROGRAMMING
                    </h2>
                </div>
            </div>
    </div>
</div>

<div class="container">

    <div class="programming-categories">
        <a asp-controller="Home" asp-action="Index" asp-route-category="All">All</a>
        <a asp-controller="Home" asp-action="Index" asp-route-category="High-level">High-Level</a>
        <a asp-controller="Home" asp-action="Index" asp-route-category="Low-level">Low-Level</a>
    </div>

    <div class="programming-languages">
        @foreach (var p in Model)
        {
            <div class="programming-language-card">
                <div class="programming-language-card-top ">
                    <img src="@p.ProgrammingLanguageImageUrl" alt="@p.ProgrammingLanguageName" />
                </div>
                <h2>
                    <a asp-controller="Language" asp-action="Index" asp-route-id="@p.ProgrammingLanguageId"
                       class="text-light text-decoration-none">@p.ProgrammingLanguageName</a>
                </h2>
                <p>@p.ProgrammingLanguageCategory</p>
            </div>
        }
    </div>
    <partial name="_FooterPartial" />
</div>