@model ProgrammingLanguage

@{
    ViewData["Title"] = Model.ProgrammingLanguageName;
}

<div class="container-fluid bg-index">
    <div class="bg-tans">
        <partial name="_NavbarPartial">
            <div class="container">
                <div class="language-info-intro">
                    <div class="language-info-intro-image">
                        <img src="@Model.ProgrammingLanguageImageUrl" alt="@Model.ProgrammingLanguageName" />
                    </div>
                    <div class="language-info-intro-header">
                        <h1>@Model.ProgrammingLanguageName</h1>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="container">


    <div class="header-text-content">
        <h2>Overview</h2>
        <p>@Model.ProgrammingLanguageOverview</p>
    </div>

    <div class="header-text-content">
        <h2>History</h2>
        <p>@Model.ProgrammingLanguageHistory</p>
        <p class="small text-muted">
            <a class="tut-links" target="_blank" href="@Model.ProgrammingLanguageTutorials">visit source</a>
        </p>
    </div>

    <div class="header-text-content">
        <h2>Advantages</h2>
        <div class="pros-cons">
            @foreach (var p in Model.ProgrammingLanguagePros)
            {
                <div>
                    <p>• @p.ProgrammingLanguageProsDesc</p>
                </div>
            }
        </div>
    </div>

    <div class="header-text-content">
        <h2>Disadvantages</h2>
        <div class="pros-cons">
            @foreach (var p in Model.ProgrammingLanguageCons)
            {
                <div>
                    <p>• @p.ProgrammingLanguageConsDesc</p>
                </div>
            }
        </div>
    </div>

    <div class="header-text-content">
        <h2>Top 5 popular programming languages</h2>
        <table class="table-sm">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Language</th>
                    <th>Share</th>
                    <th>Trend</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Python</td>
                    <td>30.32%</td>
                    <td>-1.8%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Java</td>
                    <td>17.79%</td>
                    <td>-1.0%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>JavaScript</td>
                    <td>9.03%</td>
                    <td>-1.1%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>C#</td>
                    <td>6.55%</td>
                    <td>-0.2%</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>C/C++</td>
                    <td>6.02%</td>
                    <td>+0.3%</td>
                </tr>
            </tbody>
        </table>
        <p class="small text-muted">
            <a class="tut-links" target="_blank" href="https://pypl.github.io/PYPL.html">visit source</a>
        </p>
    </div>
    <partial name="_FooterPartial" />
</div>
